<!-- Modal -->
<div style='color:black' class="modal fade" id="contactModal" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div><h4>Thank you for reaching out!</h4></div>
      </div>
      <div class="modal-body">
        <div class="d-flex container">
            <div class="row mx-auto">
                <div class="col-sm">
                  <div class="mb-4">Here's my contact info and a form if you'd like to send me a message:</div>
                  <div><span class="bi bi-github"></span> <a class="link" href="https://github.com/alexz89142">github.com/alexz89142</a></div>
                  <div><span class="bi bi-telephone"></span> 484-868-8275</div>
                  <div class="mb-5"><span class="bi bi-envelope"></span> alex.zepeda0015@gmail.com</div>
                </div>
                <div class="col-sm">
                    <form action="https://api.web3forms.com/submit" method="POST">
                      <input type="hidden" name="access_key" value="b0c3f16c-48b4-4c83-91bd-601da55b882e">
                      
                      <div class="form-group mb-2">
                        <input placeholder="Name" class="form-control" id="contactFormName" type="text" name="name" required>
                      </div>
                      <div class="form-group mb-2">
                        <input placeholder="Email" class="form-control" type="email" name="email" required>
                      </div>
                      <div class="form-group mb-3">
                        <textarea style="height:100px" placeholder="Message" class="form-control" name="message" required></textarea>
                      </div>
                      <button class="btn btn-success" type="submit">Send Message</button>

                    </form>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
