<div class="navspacer" style="height:55px"></div>
<nav class="navbar navbar-expand-lg shadow-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand link-light" href="#">Alejandro Zepeda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="bi bi-list text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div style="width:100%"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-light" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</a>
        </li>
        <li class="nav-item">
          <a href="https://drive.google.com/file/d/1tjcQr_ORCqRnpRGGouuUg5Nipk5Zaq_B/view" class="nav-link link-light">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="https://github.com/alexz89142">Repositories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>