<div class="container-fluid pt-4" style="height:100%;background-color:#212138">

<div class="row w-100 mx-auto">
  <div class="col-md">
    <h2 class="fw-bold mt-2">Projects</h2>
    <h3 class="mt-4"><a class="links link-light" href="https://github.com/alexz89142"><span class="bi bi-github text-white"></span> alexz89142 </a></h3>
    </div>
  <div class="col-md mt-3">
    <h5><p>My projects and example code are available on my Github page. They range anywhere from front-end and back-end development, to server configuration tutorials.</p> 
    <p>Here are some of the projects I've been working on recently!</p></h5>
  </div>
</div>
<div class="row w-100 mx-auto mt-5">

  <div class="col-sm mb-4">
    <div class="card mx-auto" style="width:24rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2">Portfolio Site <span class="badge rounded-pill bg-primary">Blazor</span></h5>
          <p class="card-text">The repository for this website. It was created as a web assembly app using .NET 7.0 and it uses a combination of C#, HTML, JS, and Bootstrap</p>
          <div class="ProjectButtons border-top pt-2 mt-5"><a href="https://github.com/alexz89142/Portfolio_Website" class="btn btn-primary">Code</a> <a href="#" class="btn btn-success">Demo</a></div>
        </div>
      </div>
  </div>

  <div class="col-sm mb-4">
    <div class="card mx-auto mt-2" style="width:24rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2">Social Media Promotion Site <span class="badge rounded-pill Btn-style4">HTML5</span></h5>
          <p class="card-text">A webpage designed as a creative way of showing links to social media. To be used for promotion. Written in plain HTML5</p>
          <div class="ProjectButtons border-top pt-2 mt-5"><a href="https://github.com/alexz89142/Social_Media_Website_Demo" class="btn btn-primary">Code</a> <a href="https://alexz89142.github.io/Social_Media_Website_Demo/" class="btn btn-success">Demo</a></div>
        </div>
      </div>
  </div>

  </div>

  <div class="row w-100 mx-auto">
  
  <div class="col-sm mb-4">
    <div class="card mx-auto" style="width:24rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2" >Redacted Quest <span class="badge rounded-pill bg-success">Typescript</span></h5>
          <p class="card-text">A WIP revival project. A modernized code refactor and redesign of an old multiplayer HTML5/jQuery game that I made</p>
          <div class="ProjectButtons border-top pt-2 mt-5"><a href="https://github.com/alexz89142/Redacted-Quest-Revival" class="btn btn-primary">Code</a></div>
        </div>
      </div>
  </div>

  <div class="col-sm mb-4">
    <div class="card mx-auto" style="width:24rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2">Workout Generator <span class="badge rounded-pill bg-danger">NodeJS</span></h5>
          <p class="card-text">A WIP webapp that's intended to scrape the MuscleWiki directory and use it's contents to generate a workout</p>
          <div class="ProjectButtons border-top pt-2 mt-5"><a href="https://github.com/alexz89142/Workout_Generator_And_Webscraper" class="btn btn-primary">Code</a></div>
        </div>
      </div>
  </div>

</div>


</div>

@code{

}